/* General styles for views */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin: 0 0 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Header row styles */
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row h1 {
  flex: 1;
  margin-right: 20px;
}

.header-row img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

/* Responsive image styles */
.responsive-img {
  max-width: 20%;
  margin-right: 10px;
  height: auto;
}

/* Main content styles */
main {
  padding: 20px;
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.content {
  width: 66.66%; /* 8 de 12 columnas */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Form styles */
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  width: calc(20%);
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

form button:hover {
  background-color: #0056b3;
}

/* Alert styles */
.alert {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li h2 {
  margin: 0 0 10px;
}

li p {
  margin: 0 0 10px;
}

li a {
  color: #007bff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Logout and delete buttons styles */
.logout-delete-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.logout-delete-buttons button {
  width: 100%;
  padding: 10px 20px; /* Ajustar el relleno para dar más espacio al texto */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}

.logout-delete-buttons button:hover {
  background-color: #0056b3;
}